################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/camerontbelt.com.net/DesignTimeBuild/.dtbcache.v2
