doctype html
html
  head
    title= title
    link(href= "/bootstrap/css/bootstrap.css", rel="stylesheet", media="screen")
    link(href= "/stylesheets/custom.css", rel="stylesheet")
    link(href= "/stylesheets/hover.css", rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(chartype="UTF-8")
  body              
    .container
      block content