@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row row-padding">
        <h1>Cameron Belt</h1><h4>Electrical &amp; Software Engineer - Tyler, Tx</h4><br>
        <div class="row">
            <div class="col-sm-4">
                <strong>Phone</strong>
                <br>
                <hr class="visible-lg visible-md">
                <p>936.556.3479</p>
                <hr class="visible-xs visible-sm">
            </div>
            <div class="col-sm-4">
                <strong>Email</strong>
                <br>
                <hr class="visible-lg visible-md">
                <a href="mailto:camerontbelt@gmail.com" class="hvr-underline-from-center">camerontbelt@gmail.com</a><hr class="visible-xs visible-sm">
            </div>
            <div class="col-sm-4"><strong>Social</strong><br><hr class="visible-lg visible-md"><a href="https://github.com/camerontbelt" class="hvr-underline-from-center">Github</a><br><a href="https://linkedin.com/in/camerontbelt" class="hvr-underline-from-center">LinkedIn</a><hr class="visible-xs visible-sm"></div></div>
    </div><br>
    <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
        <div class="panel panel-default">
            <div role="tab" id="headingOne" class="panel-heading"><h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="hvr-underline-from-center">Skills</a></h4></div>
            <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in">
                <div class="panel-body"><ul><li>Microsoft Word, Excel, Visual Studio, Xcode, MultiSim, KiCad, SolidWorks 3D CAD</li><li>Objective-C, C#, C, Assembly, SQL, Matlab, Java, Verilog, HTML5, CSS3, Pug, Bootstrap 3.0</li><li>Familiarity with MEAN, understanding of GIT, Heroku</li><li>Strong organizational skills and problem solving skills</li><li>Knowledge of FPGA’s</li><li>Certified Engineer in Training by Texas Board of Professional Engineers</li><li>Passion to learn and understand new topics</li></ul></div></div></div>
        <div class="panel panel-default">
            <div role="tab" id="headingTwo" class="panel-heading"><h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed hvr-underline-from-center">Education</a></h4></div>
            <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="panel-collapse collapse">
                <div class="panel-body"><h4>University of Texas at Tyler</h4><h5>August 2012 – May 2015</h5><ul><li>Bachelors of Science in Electrical Engineering</li><li>Experience in Multisim, KiCad, and PCB design and development</li><li>Recipient of the Phi Theta Kappa Scholarship</li><li>Passed the Fundamentals of Engineering Exam</li><li>Certified Engineer in Training</li><li>Was a member of and involved with Institute of Electrical and Electronics Engineers (IEEE) local campus charter at UT Tyler</li></ul><h4>Course work</h4>
                    <p>Matlab for Engineers, Digital Systems, Linear Circuit Analysis I &amp; II, Electromagnetic Fields, Electronic Circuits I &amp; II, Design Methodology in Engineering, Automatic Controls, Microprocessors, Signals and Systems, Electric Power Systems, Communications Theory, and Real Time Processing, VLSI, FPGA’s and HDL</p></div></div></div>
        <div class="panel panel-default">
            <div role="tab" id="headingThree" class="panel-heading"><h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed hvr-underline-from-center">Experience</a></h4></div>
            <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4>Pinnergy - Software Engineer</h4>
                    <h5>January 2019 - Present</h5>
                <ul>
                    <li>Implemented a dev-ops build/release pipeline in Azure DevOps.</li>
                    <li>Brought agile methodology and standards to the development team.</li>
                    <li>Instituted a clean coding and test standard for the main software product.</li>
                    <li>Redesigned the enterprise web application to conform to modern design.</li>
                    <li>Cultivated a learning environment among the IT team.</li>
                    </ul>
                <h4>Genesis Group</h4>
                <h5>June 2017 - January 2019</h5>
                <ul>
                    <li>Introduced new functionality to the product per the product requirements from Motorola.</li>
                    <li>Implemented “clean code” standards for team wide use, and helped maintain code base standards.</li>
                    <li>Implemented bug fixes as they arrived from Motorola or from Quality Assurance testing.</li>
                    <li>Worked closely with Quality Assurance technicians to maintain a robust product. </li>
                    </ul>
                <h4>SPEA America – Test Engineer</h4>
                <h5>May 2015 – June 2017</h5>
                <ul> 
                    <li>Design testing procedures for a variety of Automatic Test Equipment (ATE).</li>
                    <li>Teach customers how to use the software and hardware for their ATE and answered any questions they may have had. Teach customers in formal training classes how to develop their own programs.</li>
                    <li>Use the ATE to test customer Printed Circuit Board (PCB’s)</li>
                    <li>Communicate and interface with customers during development to understand the criteria they required for their particular needs.</li>
                    <li>Aided in the creation of multiple Application Notes</li>
                    </ul>
                <h4>Pinnergy - Software Engineer</h4>
                <h5>August 2012 – May 2015</h5>
                <ul> 
                    <li>Designed software applications using Microsoft Visual Studio and C# to implement intra-company productivity apps for various departments</li>
                    <li>Worked across departments to identify strategic areas of improvement</li>
                    <li>Developed internal productivity apps on a modern .NET framework used to save 200+ man hours per year</li>
                    <li>Trusted with self-directed projects up to 150 man-hours</li>
                    <li>Developed and cultivated interpersonal communication skills with co-workers.</li>
                    </ul>
                    </div>
                </div>
        </div>
        <div class="panel panel-default">
            <div role="tab" id="headingFour" class="panel-heading">
                <div class="panel-body"> <ul>
                      </ul>
                    </div>
                </div>
        </div>
    </div>
</div>